---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---


I will be uploading text-based mutual fund similarity measures in this section soon. This databank contains fund-year level "review" similarity ratio either on a cross-sectional level or a time-series level. 

I borrow the idea from Hoberg and Phillips (2010， 2016) and Cohen et al. (2020) for their insightful research. 

<!--
{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->



